/*media quaries*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

 X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */

/*Hero section*/

@media (min-width: 992px) {
  .hero-title-wrapper {
    margin-top: 12rem;
  }

  .hero-title-shadow {
    font-size: 5.625rem;
    top: -3rem;
    left: 10%;
  }

  .bg-navbar-mob {
    background: none;
  }

  .hero-img {
    width: 718px;
    height: 431px;
    object-fit: cover;
  }

  /*live data*/

  .live-data-title-wrapper {
    transform: rotate(270deg);
    position: absolute;
    top: 8rem;
    left: -3rem;
    line-height: 4rem;
  }

  /*how its work*/
  .text-signup-hiw{
    padding-top: 13rem;
  }

  .hiw-wrapper{
    margin-bottom: 10rem;
  }
}
