/*media quaries*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

 X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */


/*Hero section*/

@media (min-width: 992px) { 
    .hero-title-wrapper{
        margin-top: 16rem;
    }

    .hero-title-shadow{
        font-size: 5.625rem;
        top: -25rem;
    }

    .bg-navbar-mob{
        background:none;
    }
 }