/*Google Font*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #000;
  font-family: "Raleway", serif;
  overflow-x: hidden;
}

/*Font Size*/

.fs-8-px {
  font-size: 8px;
}

.fs-10-px {
  font-size: 10px;
}

.fs-12-px {
  font-size: 12px;
}

.fs-16-px {
  font-size: 16px;
}

.fs-18-px {
  font-size: 18px;
}
.fs-20-px {
  font-size: 20px;
}

.fs-24-px {
  font-size: 24px;
}

.fs-28-px {
  font-size: 28px;
}
.fs-33-px {
  font-size: 33px;
}
.fs-36-px {
  font-size: 36px;
}

.fs-62-px {
  font-size: 62px;
}

.fs-64-px {
  font-size: 62px !important;
}

.fs-81-px {
  font-size: 81px;
}

.fs-96-px {
  font-size: 96px;
}

/*Spacing*/
.mt-16-rem {
  margin-top: 16rem;
}

.mt-7-rem{
  margin-top: 7rem;
}

.mb-6-rem{
  margin-bottom: 6rem;
}

.mb-10-rem{
  margin-bottom: 10rem;
}
.mb-12-rem{
  margin-bottom: 12rem;
}

.pt-16-rem{
  padding-top: 16rem;
}

.pt-13-rem{
  padding-top: 13rem;
}

.pb-13-rem{
  padding-bottom: 13rem;
}
/*Colors and Background Colors*/

.bg-linear-primary {
  background: rgb(167, 16, 226);
  background: linear-gradient(
    90deg,
    rgba(167, 16, 226, 1) 44%,
    rgba(113, 236, 254, 1) 84%
  );
}

.color-orange {
  color: #ff2020;
}

.color-yellow {
  color: #ffea00;
}

.color-purple {
  color: #ff00dd;
}

.color-green {
  color: #00ff4d;
}

.color-turquoise {
  color: #1fcff1;
}

.color-blue {
  color: #4e31ff;
}

/*Genel defination*/

.cursor-pointer {
  cursor: pointer;
}
.button-padding {
  padding: 10px 50px;
}

.border-gray{
  border: 2px solid #ddd;
}

.h-55-px{
  height: 55px;
}

.w-55-px{
  width: 55px;
}

.text-justify{
  text-align: justify;
}

.dot-turquoise {
  width: 17px;        
  height: 17px;   
  background-color: #1fcff1; 
  border-radius: 50%;   
  display: inline-block;
}


.border-left-title-orange{
  border-left: 10px solid #FF2020;
  padding:.3rem;
}


.border-left-title-yellow{
  border-left: 10px solid #ffea00;
  padding:.3rem;
}


.border-left-title-purple{
  border-left: 10px solid #ff00dd;
  padding:.3rem;
}

.border-left-title-green{
  border-left: 10px solid #00ff4d;
  padding:.3rem;
}


/*navbar*/
.bg-navbar-mob{
  background: rgb(167, 16, 226);
  background:linear-gradient(90deg, rgb(167 16 226 / 28%) 44%, rgb(113 236 254 / 37%) 84%);
}
.signup-button {
  display: block;  
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.signup-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  border: 2px solid transparent;
  background: linear-gradient(
      46deg,
      rgba(158, 0, 209, 0.1),
      rgba(255, 255, 255, 0.48),
      rgba(135, 115, 255, 0.6),
      rgba(174, 160, 255, 0.76),
      rgba(78, 48, 255, 0.99)
    )
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.signup-button:hover {
  border-radius: 15px;
  background: linear-gradient(
      46deg,
      rgba(158, 0, 209, 0.1),
      rgba(255, 255, 255, 0.48),
      rgba(135, 115, 255, 0.6),
      rgba(174, 160, 255, 0.76),
      rgba(78, 48, 255, 0.99)
    )
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
}

/*Hero section*/

.bg-hero {
  background-image: url("/assets/images/header-bg.svg");
  background-repeat: no-repeat;
  margin-top: -5rem;
  width: 100%;
  background-size: cover;   
}

.hero-title-shadow {  
  position: absolute;
  word-break: break-all;
  color: transparent;
  top: 0;
  left: 5%;
  text-shadow: 0 0 18px rgb(255 255 255);
  font-size: 3rem;
  filter: blur(8px);
}

.hero-button {
  display: block;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: white;
}

.hero-button-active {
  border-radius: 15px;
  color:#fff;
  background: linear-gradient(
    46deg,
    rgba(158, 0, 209, 0.1),
    rgba(255, 255, 255, 0.48),
    rgba(135, 115, 255, 0.6),
    rgba(174, 160, 255, 0.76),
    rgba(78, 48, 255, 0.99)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);  
}

.hero-button::before {
  content: "";
  position: absolute;
  inset: 0;
  color: #fff;
  border-radius: 15px;
  border: 2px solid transparent;
  background: linear-gradient(
    46deg,
    rgba(158, 0, 209, 0.1),
    rgba(255, 255, 255, 0.48),
    rgba(135, 115, 255, 0.6),
    rgba(174, 160, 255, 0.76),
    rgba(78, 48, 255, 0.99)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;  
}
.hero-button:hover{
  border-radius: 15px;
  color:#fff;
  background: linear-gradient(
    46deg,
    rgba(158, 0, 209, 0.1),
    rgba(255, 255, 255, 0.48),
    rgba(135, 115, 255, 0.6),
    rgba(174, 160, 255, 0.76),
    rgba(78, 48, 255, 0.99)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);  
}

.hero-card-left{
  position: absolute;
  top: 4rem;
  left: -11rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px; 
  width: 302px;
  height: 138px;
}

.hero-card-right{
  position: absolute;
  bottom: 4rem;
  right: -11rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px; 
  width: 490px;
  height: 138px;
}

/*Features*/
.bg-features {
  background-image: url("/assets/images/features-bg.svg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover; 
}

.custom-card-fa{
  padding: 20px;
  border-top-left-radius: 2rem;
  border: 2px solid rgba(66, 147, 153, .5) ;
  height: 100%;
  transition: 300ms all ease-in;
}

.custom-card-fa:hover{
  background-color: rgba(255, 255, 255, .2);
}

/*Live Data*/
.bg-live-data {
  background-image: url("/assets/images/ai-input-generate.svg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;   
}


.custom-card-live-data{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 1rem;
  background-color: rgba(11, 37, 61, .7) ;
  height: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 300ms all ease-in;
}

.custom-card-live-data:hover{
  background-color: rgba(11, 37, 61, 1);
}
