/*Google Font*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #000;
  font-family: "Raleway", serif;
}

/*Font Size*/

.fs-8-px {
  font-size: 8px;
}

.fs-10-px {
  font-size: 10px;
}

.fs-12-px {
  font-size: 12px;
}

.fs-16-px {
  font-size: 16px;
}

.fs-18-px {
  font-size: 18px;
}
.fs-20-px {
  font-size: 20px;
}

.fs-28-px {
  font-size: 20px;
}
.fs-33-px {
  font-size: 33px;
}
.fs-36-px {
  font-size: 36px;
}

.fs-62-px {
  font-size: 62px;
}

.fs-64-px {
  font-size: 62px;
}
.fs-96-px {
  font-size: 96px;
}

/*Colors and Background Colors*/

.bg-linear-primary {
  background: rgb(167, 16, 226);
  background: linear-gradient(
    90deg,
    rgba(167, 16, 226, 1) 44%,
    rgba(113, 236, 254, 1) 84%
  );
}

.color-orange {
  color: #ff2020;
}

.color-yellow {
  color: #ffea00;
}

.color-purple {
  color: #ff00dd;
}

.color-green {
  color: #00ff4d;
}

.color-turquoise {
  color: #1fcff1;
}

.color-blue {
  color: #4e31ff;
}

/*Genel defination*/
.border-button { 
  border-image: linear-gradient(
    46deg,
    rgba(158, 0, 209, 0.1),
    rgba(255, 255, 255, 0.48),
    rgba(135, 115, 255, 0.6),
    rgba(174, 160, 255, 0.76),
    rgba(78, 48, 255, 0.99)
  ) 1; 
  transition: all 0.3s ease;
}

.border-button:hover {
  background-image: linear-gradient(45deg, red, orange, yellow, green, blue);
  border-color: transparent;
  color: white;
}
/*Header*/

.bg-hero {
  background-image: url("/assets/images/header-bg.svg");
  background-repeat: no-repeat;
  margin-top: -5rem;
  height: 800px;
}
